@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-size: 16px;
    height: 100vh;
    @apply font-sans;
  }
}

@layer components {
  /** Formulario **/
  .input-box {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
  }

  .gradient-round {
    background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  }

  /** TaskItem **/
  .checkbox-round {
    min-width: 1.45em;
    min-height: 1.45em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd !important;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
  }

  .checkbox-round:checked {
    background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  }
}

@layer utilities {
  /** Header **/

  header {
    background-size: cover;
    min-height: 200px;
    width: 100%;
  }
  .light {
    background-image: url('../images/bg-mobile-light.jpg');
    background-repeat: no-repeat;
    @apply bg-light-theme-bg;
  }
  .dark {
    background-image: url('../images/bg-mobile-dark.jpg');
    background-repeat: no-repeat;
    @apply bg-dark-theme-bg;
  }
  @media screen and (min-width: 768px) {
    header {
      min-height: 300px;
    }
    .light {
      background-image: url('../images/bg-desktop-light.jpg');
    }
    .dark {
      background-image: url('../images/bg-desktop-dark.jpg');
    }
  }

  /** Formulario **/

  .input-box input {
    flex-grow: 1;
    background: #fff;
    border: none;
    outline: none;
  }

  .input-box:focus-within {
    border-color: #777;
  }

  /** Cursor**/
  .dndclass {
    cursor: url('../images/grab1.png'), auto;
  }

  .dndclass:active {
    cursor: url('../images/grabbing1.png'), auto;
  }
}
